
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
/build/web-desktop
/build/android/*
!/build/android/proj
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/