<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{101,86}</string>
                <key>spriteSourceSize</key>
                <string>{107,108}</string>
                <key>textureRect</key>
                <string>{{337,1183},{101,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,104}</string>
                <key>textureRect</key>
                <string>{{324,1550},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{190,144}</string>
                <key>spriteSourceSize</key>
                <string>{196,172}</string>
                <key>textureRect</key>
                <string>{{324,1360},{190,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{337,295}</string>
                <key>spriteSourceSize</key>
                <string>{353,301}</string>
                <key>textureRect</key>
                <string>{{0,1020},{337,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_fireman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{390,328}</string>
                <key>spriteSourceSize</key>
                <string>{390,336}</string>
                <key>textureRect</key>
                <string>{{0,692},{390,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,13}</string>
                <key>spriteSize</key>
                <string>{333,419}</string>
                <key>spriteSourceSize</key>
                <string>{375,449}</string>
                <key>textureRect</key>
                <string>{{0,359},{333,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{163,130}</string>
                <key>spriteSourceSize</key>
                <string>{219,132}</string>
                <key>textureRect</key>
                <string>{{337,1020},{163,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_tree.pmg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{359,392}</string>
                <key>spriteSourceSize</key>
                <string>{359,416}</string>
                <key>textureRect</key>
                <string>{{0,0},{359,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{324,305}</string>
                <key>spriteSourceSize</key>
                <string>{346,351}</string>
                <key>textureRect</key>
                <string>{{0,1315},{324,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{93,91}</string>
                <key>spriteSourceSize</key>
                <string>{141,143}</string>
                <key>textureRect</key>
                <string>{{337,1269},{93,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,3}</string>
                <key>spriteSize</key>
                <string>{217,195}</string>
                <key>spriteSourceSize</key>
                <string>{251,315}</string>
                <key>textureRect</key>
                <string>{{0,1620},{217,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuriken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{184,182}</string>
                <key>spriteSourceSize</key>
                <string>{198,192}</string>
                <key>textureRect</key>
                <string>{{217,1640},{184,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>characters.png</string>
            <key>size</key>
            <string>{468,1822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffe09bd9b734a45a0a81f89f23afdd3c:0db10c338be3febb206e0d43274eb8be:eba60a068fff52f8a9384dc2d4a3d4a3$</string>
            <key>textureFileName</key>
            <string>characters.png</string>
        </dict>
    </dict>
</plist>
