<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gun-fire-animation-effect-1.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{95,55}</string>
                <key>spriteSourceSize</key>
                <string>{145,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{95,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun-fire-animation-effect-10.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{53,21}</string>
                <key>spriteSourceSize</key>
                <string>{69,83}</string>
                <key>textureRect</key>
                <string>{{96,79},{53,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gun-fire-animation-effect-2.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{93,100}</string>
                <key>textureRect</key>
                <string>{{1,58},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun-fire-animation-effect-3.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{66,24}</string>
                <key>spriteSourceSize</key>
                <string>{84,80}</string>
                <key>textureRect</key>
                <string>{{70,58},{66,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gun-fire-animation-effect-4.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{94,31}</string>
                <key>spriteSourceSize</key>
                <string>{106,89}</string>
                <key>textureRect</key>
                <string>{{47,126},{94,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gun-fire-animation-effect-5.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,33}</string>
                <key>spriteSourceSize</key>
                <string>{102,87}</string>
                <key>textureRect</key>
                <string>{{38,222},{78,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun-fire-animation-effect-6.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{76,28}</string>
                <key>spriteSourceSize</key>
                <string>{94,82}</string>
                <key>textureRect</key>
                <string>{{98,1},{76,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gun-fire-animation-effect-7.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{74,39}</string>
                <key>spriteSourceSize</key>
                <string>{100,71}</string>
                <key>textureRect</key>
                <string>{{80,134},{74,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gun-fire-animation-effect-8.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{61,35}</string>
                <key>spriteSourceSize</key>
                <string>{93,75}</string>
                <key>textureRect</key>
                <string>{{1,193},{61,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gun-fire-animation-effect-9.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{69,44}</string>
                <key>spriteSourceSize</key>
                <string>{111,88}</string>
                <key>textureRect</key>
                <string>{{1,122},{69,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gun_fire.png</string>
            <key>size</key>
            <string>{127,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f24ae39b21b0c82ab40951e6ce4501be:998280056f988c81d8c9fdb1abdb764c:0e01761896539c85460284c19d22c808$</string>
            <key>textureFileName</key>
            <string>gun_fire.png</string>
        </dict>
    </dict>
</plist>
